.navbar{
    background-color: #404258!important;
    
    input{
        
        border: .5px solid whitesmoke;
        background-color: #404258!important;
        
    }
    button{
        color: whitesmoke !important;
        border: .5px solid whitesmoke;


    }
}